* {
    box-sizing: border-box;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.315);
    width: 400px; 

    &:hover,
    &:focus {
        background-color: black;
        color: #ffffff;
        transform: translateX(20px);
    }
}

h2{
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.315); 
    width: 400px;
    margin-left: 50px;

    &:hover,
    &:focus {
        background-color: black;
        color: #ffffff;
        transform: translateX(20px);
    }
}

h3{
    margin-left: 50px; 
    padding: 12px 0;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.315); 
    width: 400px;

    &:hover,
    &:focus {
        background-color: black;
        color: #ffffff;
        transform: translateX(20px);
    }
}

.card{
    border: 10px solid darkslategrey; 
    display: flex;
    margin: 90px;
    height: 670px;
}

#dog{
    background-color: black;
    padding: 30px;
}

.dog-info{
    text-align: center;
    border: 10px solid darkslategrey;
}

.info{
    list-style-type: none;
    border-bottom: 4px solid black;
    padding-right: 30px;

    &:hover,
    &:focus {
        background-color: #d9d9d9;
        font-weight: bolder;
    }
}

.Character{
    border-bottom: 4px solid black;
    padding-bottom: 10px;

    &:hover,
    &:focus {
        background-color: #d9d9d9;
        font-weight: bolder;
    }
}

#Character {
    text-align: start;
    padding-left: 4px;
}

.contacts{
    color: #ffffff;

    &:hover,
    &:focus {
        background-color: #ffffff;
        color: black;
        font-weight: bolder;
    }
}

#tyson-books{
    line-height: 5px;
}

span {
    font-weight: bolder;
  }

  .footer{
    background-color: rgba(145, 140, 210, 0.459);
    padding: 4px 0;


    &:hover,
    &:focus {
        background-color: black;
       color: white;
    }
  }

  .IMG{
    width: 30px;
  }


  /* Media Query for Mobile Devices */
  @media (max-width: 480px) {

    section{
        height: 100%;
        width: 100%;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        border: none;
    }

    

    .dog-info{
        width: 390px;
        height: 685px;
    }


    .dog-picture{
        width: 320px;
        height: 200px;
        margin-left: 5px;
    }


    h1{
        width: 300px;
    }

    h2{
        width: 300px;
        margin-left: 40px;
    }

    h3{
        width: 300px;
        margin-left: 40px;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    section{
        height: 100%;
        width: 100%;
    }

    .card{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 540px;
        border: none;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .dog-info{
        width: 530px;
        height: 685px;
    }


    .dog-picture{
        width: 400px;
        height: 270px;
        margin-left: 30px;
    }

    .contacts{
        margin-left: 30px;
    }

    h1{
        margin-left: 15px;
    }

    
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
   .card{
      display: flex;
      flex-direction: column;
      margin-top: 1px;
      border: none;
      width: 750px;
   }

   .dog-info{
      width: 750px;
      height: 685px;
   }

   .dog-picture{
      width: 550px;
      height: 370px;
      margin-left: 65px;
   }

   .contacts{
      margin-left: 65px;
      font-weight: bold;
   }

   h1{
      margin-left: 115px;
   }

   h2{
      margin-left: 155px;
   }

   h3{
      margin-left: 155px;
   }

   .info{
      font-weight: bold;
   }

   .Character{
      font-weight: bold;
   }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

    .card{
        border: none;
        width: 800;
        height: 640px;
     }

     .dog-info{
        width: 650px;
        height: 640px;
     }

     h1{
        margin-left: 80px;
     }
  
     h2{
        margin-left: 120px;
     }
  
     h3{
        margin-left: 120px;
     }

     .info{
        font-weight: bold;
     }
  
     .Character{
        font-weight: bold;
     }

     .footer{
        margin-top: 5px;
     }
  
}
 